**Importing the Libraries**

In [5]:
import numpy as np
import pandas as pd

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

**Loading the Dataset**

In [21]:
df = sns.load_dataset("mpg")
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [23]:
df.drop(["name"], axis = 1, inplace = True)

# removing the "name" table from the dataset (because unnecessary)
# setting axis to 1 -> to remove it column by column
# axis=0 denotes rows and axis=1 denotes columns (for searching in the table)
# inplace = True parameter makes it permanent

In [24]:
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin
0          70    usa
1          70    usa
2          70    usa
3          70    usa
4          70    usa

**Summary of the Dataset**

In [25]:
print(df.describe())

              mpg   cylinders  displacement  horsepower       weight  \
count  398.000000  398.000000    398.000000  392.000000   398.000000
mean    23.514573    5.454774    193.425879  104.469388  2970.424623
std      7.815984    1.701004    104.269838   38.491160   846.841774
min      9.000000    3.000000     68.000000   46.000000  1613.000000
25%     17.500000    4.000000    104.250000   75.000000  2223.750000
50%     23.000000    4.000000    148.500000   93.500000  2803.500000
75%     29.000000    8.000000    262.000000  126.000000  3608.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    398.000000  398.000000
mean      15.568090   76.010050
std        2.757689    3.697627
min        8.000000   70.000000
25%       13.825000   73.000000
50%       15.500000   76.000000
75%       17.175000   79.000000
max       24.800000   82.000000

**Data Preprocessing**

In [37]:
print(df.isnull().sum())
# sees if there are any null values in the dataset
# sum() sums all the null values into one
# at first horsepower value was 6, after dropping it became 0

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [30]:
print(df[df.isnull().any(axis = 1)])
# [] is sused for indexing
# if there is at least one empty value in the column, it will give an output

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0         NaN    2046          19.0
126  21.0          6         200.0         NaN    2875          17.0
330  40.9          4          85.0         NaN    1835          17.3
336  23.6          4         140.0         NaN    2905          14.3
354  34.5          4         100.0         NaN    2320          15.8
374  23.0          4         151.0         NaN    3035          20.5

     model_year  origin
32           71     usa
126          74     usa
330          80  europe
336          80     usa
354          81  europe
374          82     usa

In [32]:
df.dropna(inplace = True)
# the null values are droppped here

In [33]:
print(df.isnull().sum().any())
# False means there are no null values and vice-versa

False

In [35]:
print(df.shape)
# 6 rows dropped and 1 column dropped from the actual dataset
# if this variable was called earlier then the output would (398, 9)

(392, 8)